@import url("https://fonts.googleapis.com/css2?family=Bona+Nova+SC:ital,wght@0,400;0,700;1,400&family=Roboto:ital,wght@0,100;0,300;0,400;0,500;0,700;0,900;1,100;1,300;1,400;1,500;1,700;1,900&display=swap");
@tailwind base;
@tailwind components;
@tailwind utilities;

.side {
  border: 1px solid black;
  border-top-right-radius: 20px;
  background-color: black;
}
.side-body {
  padding-left: 1.5rem;
}
.add button {
  background-color: rgb(65, 65, 65);
  color: white;
  font-size: 1rem;
  padding: 0.5rem 1rem;
  border-radius: 5px;
}
.head {
  color: rgb(230, 216, 216);
  font-size: 1.25rem;
  font-weight: 500;
}
.no-project img {
  height: 100px;
}

.no-project-body h2 {
  margin-top: 2rem;
  font-size: 1.5rem;
  align-self: center;
  font-weight: 700;
  color: rgb(94, 74, 74);
}

.no-project-body h4 {
  margin-top: 1rem;
  font-size: 1.25rem;
  font-weight: 500;
  align-self: center;
  color: rgb(192, 164, 164);
}
.detail-body {
  padding-top: 6rem;
}
.no-project-body button {
  background-color: black;
  color: rgb(145, 126, 126);
  border-radius: 5px;
  font-weight: 500;
  padding: 0.5rem 1rem;
  margin-top: 2rem;
}
.Add-project {
  width: 100%;
  padding: 4rem 4rem;
}
.Add-project #save {
  background-color: black;
  padding: 0.5rem 1rem;
  border-radius: 5px;
  margin: 0 0.5rem;
  color: white;
}
.Add-project #cancel {
  background-color: white;
  padding: 0.5rem 1rem;
  border-radius: 5px;
  margin: 0 0.5rem;
  color: black;
  border: 1px solid black;
  transition: all 0.3s;
}
.Add-project #cancel:hover {
  background-color: black;
  color: white;
}
.Add-project label {
  font-size: 1rem;
  font-family: "Roboto", sans-serif;
  font-weight: 600;
  font-style: normal;
  color: rgb(66, 63, 63);
}
.Add-project input {
  margin-bottom: 1rem;
  background-color: gainsboro;
  height: 2rem;
  font-size: 1rem;
  padding: 3px 8px;
}

.Add-project input:focus {
   border:none;
   border-bottom:black ;
  }
  

.Add-project textarea {
    margin-bottom: 1rem;
    background-color: gainsboro;
    font-size: 1rem;
    padding: 3px 8px;
  }

.list{
   margin-top: 2rem;
}
.list li button{
   margin-bottom: 0.5rem;
   padding: 0.5rem 1rem;
   background-color: black;
   color: rgb(110, 109, 109);
   font-size: 1rem;
   font-weight: 500;
   border-radius: 5px;
   transition: all 0.3s;
   width: 100%;
}
.list li button:hover{
    color: white;
    background-color: rgb(58, 58, 58);
}
.view{
  padding: 3rem 4rem;
}
.view .title{
  font-size: 2rem;
  color: rgb(80, 72, 72);
  font-weight: 700;
}
.view .del{
  border-radius: 5px;
  border: 1px solid black;
  padding: 0.1rem 1rem;
  background-color: black;
  color: white;
}
.view .date-due{
  font-size: 1rem;
  color: grey;
  margin-top: 1rem;
}
.view .project-description{
  font-size: 1.2rem;
  color: rgb(59, 54, 54);
  margin-top: 2rem;
  font-weight: 500;
}
.view hr{
  border: 1px solid rgb(196, 166, 166);
  width: 100%;
  margin-top: 2rem;
}
.task-section{
  padding: 2rem 0;
}
.task{
  font-size: 2rem;
  font-weight: 500;
  color: rgb(17, 17, 17);
}
.add-task{
  margin-top: 1rem;
}
.add-task input{
  width: 50%;
  background-color: rgb(226, 217, 217);
  font-size: 1rem;
  padding: 2px 4px;
  border-radius: 4px;
  height: 2rem;
}
.add-task button{
  color: black;
  font-size: 1rem;
  font-weight: 500;
}
.task-section ul{
  background-color: rgb(244, 230, 230);
  padding-top: 2rem;
  padding-bottom: 1rem;
  padding-left: 1rem;
  padding-right: 1rem;
  margin-top: 2rem;
  border-radius: 4px;
  width: 80%;
}
.task-item{
  margin-top: 0.5rem;
}
.task-item li{
  font-size: 1rem;
  font-weight: 500;
}
.task-item button{
  font-size: 1rem;
  font-weight: 500;
}